<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title> Fitness App</title>
      <!-- Style CSS -->
      <link rel="stylesheet">
      <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <main class="cd__main">
<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Illustration -->
      <a href="#home"><img width="75px" height="auto" src="https://logopond.com/logos/d4dccb348c441841ee92d5d0e85c2902.png"></a>
    </div>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/workout-tracker">Workout Tracker</a></li>
        <li><a routerLink="/exercise-library">Exercise Library</a></li>
        <li><a routerLink="/calculateCalories">calorie-calculator</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- Menu Icon -->
<div class="menuIcon">
  <span class="icon icon-bars"></span>
  <span class="icon icon-bars overlay"></span>
</div>


<!-- <div class="overlay-menu">
    <ul id="menu">
      <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/workout-tracker">Workout Tracker</a></li>
        <li><a routerLink="/exercise-library">Exercise Library</a></li>
        <li><a routerLink="/calculateCalories">calorie-calculator</a></li>
    </ul>
</div> -->
<!-- <router-outlet></router-outlet> -->

<footer>
  <div class="row copyright">
    <p>Copyright &copy; 2023 Fitness App | All Rights Reserved</p>
  </div>
</footer>
      </main>

      <!-- Script JS -->
      <script>

      </script>
      <!--$%analytics%$-->
   </body>
</html>
